/*** Card CSS ***/
/* Setting card */
.card {
    border: 2px solid green;
    position: relative;
    transition: transform 0.2s ease-in;
}
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in;
}

/* Setting card  img */
.card img {
    height: 250px;
    object-fit: contain;
}

/* Setting card promo */
.promo {
    position: absolute;
    top: var(--space-1);
    left: var(--space-1);
    font-size: var(--text-xl);
    font-weight: 700;
    font-family: var(--font-base);
    padding: 6px;
    color: var(--full-white);
    background: var(--amazon-green);
    border-radius: 9999px;
}
/* Setting card limit */
.datelimit {
    position: absolute;
    top: var(--space-20);
    left: var(--space-96);
    transform: translate(-50%, -50%);
    font-size: var(--text-3xl);
    font-weight: 900;
    font-family: var(--font-base);
    color: var(--red-crimson);
    background: rgba(255, 255, 255, 0.7);
    rotate: -40deg;
    margin: 0 auto;
    padding: 0 var(--space-10);
    border-radius: 10px;
}

/* Setting card button */
.card-body button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 50px;
}
.card-body button img {
    display: block;
    width: 20px;
    height: 20px;
}
.card-body button span {
    font-size: var(--text-lg);
    font-weight: 600;
}
.card-body button i {
    /* width: 20px; */
    /* height: 20px; */
    font-size: var(--text-2xl);
    font-weight: bolder;
    color: black;
}

/** Responsive **/
@media screen and (max-width: 576px) {
    .promo {
        font-size: var(--text-lg);
    }
    .datelimit {
        font-size: var(--text-xl);
    }
}
