.nav-bar {
    background: #b22222;
}
.nav-brand {
    padding: 0;
    font-size: var(--size-navbar-brand);
    font-family: "Kaushan Script", sans-serif;
    color: var(--full-white);
}
.nav-brand:hover {
    color: #fff;
}

.nav-link {
    font-size: var(--size-navlink);
    margin-left: var(--space-16);
    padding: 0;
    color: #fff;
}
.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    top: 4px;
    background-color: var(--full-white);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}
.nav-link:hover::after {
    color: var(--full-white);
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}
.nav-link:hover {
    color: var(--full-white);
}
.nav-link.active {
    color: var(--full-white) !important;
    text-decoration: overline dotted;
}
