/*** Promo CSS ***/
/* Section €20-50 */
#€20-50 {
    font-family: var(--font-base);
}
#€20-50 h1 {
    font-size: var(--text-2xl);
    font-weight: 600;
}
#€20-50 h1 span {
    font-size: var(--text-3xl);
    font-weight: bolder;
}
#€20-50 h2 {
    font-size: var(--text-2xl);
}

/* Section €50-100 */
#€50-100 {
    font-family: var(--font-base);
    background-color: var(--main-white);
}
#€50-100 h2,
h3 {
    font-size: var(--text-2xl);
    font-weight: 500;
}
#€50-100 h2 span {
    font-size: var(--text-3xl);
    font-weight: bolder;
}
/* responsive */
@media screen and (max-width: 576px) {
    /* section 20-50 */
    #€20-50 h1 {
        font-size: var(--text-xl);
        font-weight: 400;
    }
    #€20-50 h1 span {
        font-size: var(--text-xl);
        font-weight: bolder;
    }
    #€20-50 h2 {
        font-size: var(--text-lg);
    }
    /* section 50-100 */
    #€50-100 h2 {
        font-size: var(--text-xl);
        font-weight: 500;
    }
    #€50-100 h3 {
        font-size: var(--text-lg);
        font-weight: 500;
    }
    #€50-100 h2 span {
        font-size: var(--text-xl);
        font-weight: bolder;
    }
}
